<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.times.cloud.mybatis.mapper.TaskTaskparamMapper">
  <resultMap id="BaseResultMap" type="com.times.cloud.common.bean.mysql.TaskTaskparam">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="TASK_ID" jdbcType="VARCHAR" property="taskId" />
    <result column="TASK_PM_ID" jdbcType="VARCHAR" property="taskPmId" />
  </resultMap>
</mapper>